/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* navbar */
.navbar {
    background-color: #eeeeee;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link.active, .nav-link:hover {
    background-color: #ddd;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Index */
.info .name {
    font-size: 20px;
}

p.projectname {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.about {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 220px;
}

.projects {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p.name {
    padding-left: 1.5rem;
    margin-bottom: 0;
}

.headshot {
    float: left;
    width: 175px;
}

img {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

/* Resume */
p.content, p.header-address {
    padding-left: 0rem;
    margin-bottom: 0;
}

p.header-contact {
    padding-left: 0rem;
    margin-bottom: 0;
    text-align: right;
}

@media (max-width: 575px) {
    p.header-contact {
        padding-left: 0rem;
        margin-bottom: 0;
        text-align: left;
    }
}

p.info {
    padding-left: 3rem;
    margin-bottom: 0;
}

.experience {
    margin-top: 1.5rem;
}

.references {
    margin-top: 1.5rem;
}

.download {
    margin-bottom: 1rem;
    float: right;
}

.job .job-header {
    margin-bottom: 5px;
}