@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tyler Evers</title>
    <link rel="stylesheet" href="css/site.css" />
    <link rel="shortcut icon" type="image/ico" href="/Logo.png" />
    <link rel="icon" type="image/ico" href="/Logo.png" />
    <link rel="apple-touch-icon" type="image/ico" href="/Logo.png" />
</head>
<body>
    <header>
        <NavMenu />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @Body
        </main>
    </div>
</body>
</html>
